<div class="search-user-container">
    <ul class="search-user-list">
      <li class="search-user-item" *ngFor="let user of filteredUsers">
        <div class="user-info">
          <span class="username">{{ user.username }}</span>
          <span class="user-number">#{{ user.number }}</span>
        </div>
        <div class="user-region-rank">
          <span class="user-region">{{ user.region }}</span>
          <span class="user-rank">{{ user.rank }}</span>
        </div>
      </li>
    </ul>
  </div>