<div class="search-bar--container">
    <div class="search-bar--bar">
        <input 
            id="summoner-search"
            type="text"
            class="search-bar--field"
            placeholder="Enter summoner name"
            [formControl]="summonerSearch"
        >
        <select 
            id="summoner-region"
            class="search-bar--region"
            (change)="getRegionSelected($event)"
        >
            <option 
                value="default" 
                class="search-bar--region-option"
                selected
            >Choose a region</option>
            <option
                *ngFor="let regionOption of regionOptions"
                [value]="regionOption.code"
                [attr.id]="'region-' + regionOption.code"
                class="search-bar--region-option"
            >{{ regionOption.name }}</option>
        </select>
        <button class="search-bar--button"
            (click)="searchSummonerByName()"
        >
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </button>
    </div>

    <div 
        class="search-bar--error-dialog"
        *ngIf="!isSearchValid"
    >
        <fa-icon [icon]="faCircleExclamation"></fa-icon>
        <span class="search-bar--error-message">
            Please check if a summoner is entered and a region is selected
        </span>
    </div>

    <div class="search-bar--result">
        <app-summoner-card 
            *ngIf="SummonerInfo"
            [summonerInfo]="SummonerInfo"
        ></app-summoner-card>
    </div>
</div>

