@import '../../../../../styles/variables.scss';

.search-bar {
    &--container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 15px;

    }
    
    &--bar {
        display: flex;
    }

    &--field {
        width: 330px;
        height: 45px;
        border: 0;
        color: $space-cadet;
        padding-left: 1.5rem;
        border-radius: 100px 0 0 100px;
        &:focus {
            outline: none;
        }
    }

    &--region {
        border: 0;
        border-left: 1px solid lightgray;
        color: $space-cadet;
        padding: 0 0.5rem;
        &:focus {
            outline: none;
        }

        &-option {
            color: $space-cadet;
            padding: 0.25rem 0;
        }
    }

    &--button {
        width: 60px;
        border: 0;
        background-color: $sandy-brown;
        font-size: 1.25rem;
        padding-right: 0.5rem;
        border-radius: 0 100px 100px 0;
        &:active {
            background-color: darken($sandy-brown, 10%);
        }
    }

    &--error-dialog {
        padding: 1rem 1.5rem;
        background-color: $persian-red;
        border-radius: 100px 
    }
    
    &--error-message {
        padding-left: 0.5rem;
    }
}