<div class="search-bar--container">
    <input 
        id="summoner-search"
        type="text"
        class="search-bar--field"
        placeholder="Enter summoner name"
        [formControl]="summonerSearch"
    >
    <select 
        id="summoner-region"
        class="search-bar--region"
    >
        <option 
            value="default" 
            selected
        >Choose a region</option>
        <option
            *ngFor="let region in regionOptions"
            [value]="region.code"
            [attr.id]="'region-' + region.code"
        >{{ region.name }}</option>
    </select>
    <button class="search-bar--button"
        (click)="searchSummonerByName()"
    >
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </button>
</div>