<a 
    class="summoner-card--container"
    [routerLink]="['/summoner', summonerInfo?.accountRegion, summonerInfo?.name, summonerInfo?.tagLine]"
>
    <div class="summoner-card--aside">
        <img 
            [attr.src]="'https://raw.communitydragon.org/14.7/game/assets/ux/summonericons/profileicon' + summonerInfo?.profileIconId + '.png'" 
            alt="Summoner profile icon image" 
            class="summoner-card--profile-icon"
        >
    </div>
    <div class="summoner-card--content">
        <span class="summoner-card--name">
            {{ summonerInfo?.name }}
            <span class="summoner-card--level">
                Level {{ summonerInfo?.summonerLevel }}
            </span>
        </span>
        <span class="summoner-card--region-code">
            <fa-icon [icon]="faEarthEurope"></fa-icon>
            {{ regionText?.code }}
            <span class="summoner-card--region-name">
                {{ regionText?.name }}
            </span>
        </span>
        <span class="summoner-card--lastdate">
            <fa-icon [icon]="faCalendar"></fa-icon>
            {{ lastDateConnection }}
        </span>
        <span
            class="summoner-card--ranks"
        >
            <fa-icon [icon]="faMedal"></fa-icon>
            <div 
                *ngIf="hasRank; else noRanks"
                class="summoner-card--ranks-container"
            >
                <div 
                    class="summoner-rank"
                    *ngFor="let rank of summonerInfo?.ranks"
                >
                    <span class="summoner-card--rank-queue-name">
                        {{rank.queueName}}
                        <span class="summoner-card--rank-tier">
                            {{rank.tier}}
                            <span class="summoner-card--rank-rank">
                                {{rank.rank}}
                            </span>
                        </span>
                    </span>
                </div>
            </div>
            <ng-template #noRanks>
                <span class="summoner-card--no-ranks">
                    Unranked
                </span>
            </ng-template>
        </span>
    </div>
</a>