@import '../../../../../styles/variables.scss';

.suggestion {
    &--container {
        height: 60px;
        display: flex;
        gap: 2rem;
        padding: 0.5rem;
        border-radius: 100px;
        background-color: $glaucous;
    }  

    &--container > * {
        color:  $space-cadet;
    }

    &--profile-icon {
        width: 60px;
        border-radius: 100%;
    }

    &--content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &--name {
        font-size: 1.25rem;
        font-weight: 500;
    }

    &--level {
        font-weight: 100;
    }

    &--region-code {
        font-size: 1.25rem;
        font-weight: 500;
    }

    &--region-name {
        font-weight: 100;   
    }
}