/* SCSS HEX */
$white: #ffffffff;
$french-gray: #b3b7ceff;
$glaucous: #676f9dff;
$ultra-violet: #555b83ff;
$delft-blue: #424769ff;
$space-cadet: #2d3250ff;
$sandy-brown: #f9b17aff;
$persian-red: #bb3c3cff;
