.search {
  &--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &--title {
    font-size: 5rem;
  }

  &--subtitle {
    font-size: 1.25rem;
  }
}